//Importy
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// basic style
html {
    font-family: 'Roboto', sans-serif;
}

// layout
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
}

#return-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50%;
    display: none;
    z-index: 99;
    transition: all 0.3s ease;
    cursor: pointer;
}

#return-top i {
    color: #fff;
    font-size: 18px;
}

#return-top:hover {
    background-color: black;
}

#return-top:hover i {
    // font-size: 25px;
    // transition: all 0.2s ease;
    transform: rotate(360deg);
    transition: 0.3s ease;
}