//Importy
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// basic style
html {
    font-family: 'Roboto', sans-serif;
}

// layout
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
}