// przejścia media-query

$breakpoints: (xsmall: (min-width: 460px),
    small: (min-width: 640px),
    medium: (min-width: 800px),
    large: (min-width: 1024px),
    xlarge: (min-width: 1200px),
    xxlarge: (min-width: 1440px),

);

// colors
$main-color: #2D4288;
$main-white: #ffffff;

//fonts

$menu-font-m : 14px;
$normal-font : 16px;