// przejścia media-query

$breakpoints: (xsmall: (min-width: 460px),
    small: (min-width: 640px),
    medium: (min-width: 800px),
    large: (min-width: 1024px),
    xlarge: (min-width: 1200px),
    xxlarge: (min-width: 1440px),

);

// colors
$main-color: #2D4288;
$main-white: #ffffff;

//fonts

$menu-font-m : 14px;
$normal-font : 16px;

//keyframes

@keyframes ring {
    0% {
        transform: rotate(0);
    }

    3% {
        transform: rotate(30deg);
    }

    6% {
        transform: rotate(-30deg);
    }

    9% {
        transform: rotate(34deg);
    }

    12% {
        transform: rotate(-34deg);
    }

    15% {
        transform: rotate(30deg);
    }

    18% {
        transform: rotate(-30deg);
    }

    21% {
        transform: rotate(26deg);
    }

    24% {
        transform: rotate(-26deg);
    }

    27% {
        transform: rotate(22deg);
    }

    30% {
        transform: rotate(-22deg);
    }

    33% {
        transform: rotate(18deg);
    }

    36% {
        transform: rotate(-18deg);
    }

    39% {
        transform: rotate(14deg);
    }

    42% {
        transform: rotate(-14deg);
    }

    45% {
        transform: rotate(10deg);
    }

    48% {
        transform: rotate(-10deg);
    }

    51% {
        transform: rotate(6deg);
    }

    54% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}