.adv {
    background-color: #ececec;
    background-color: rgba(255, 255, 255, 0.79);
    padding: 4% 0;
}

.adv-wrapper {

    &__slide {
        overflow: hidden;
        height: 70px;
        margin: 0 20px;

        @include media(xlarge) {
            height: 60px;
        }
    }


    img {
        height: 100%;
        width: 130px;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0);
        }


        @include media(xlarge) {
            width: 120px;
        }
    }
}